.app-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-body {
    flex: 1; 
    display: flex;
    overflow: hidden; 
}

.app-content {
    flex: 1;
    overflow-y: auto; 
    padding: 1.5rem;
    background: #FBFBFB;
}