@use '../../globals.scss' as *;

$button-variants: (
    default: (bg: $teal-300,
        color: #fff,
        hover-bg: rgba($teal-300, 0.8),
        active-bg: rgba($teal-300, 1.8),
        disabled-bg: rgba($teal-300, 0.8),
    ),

    destructive: (bg: $error,
        color: #fff,
        hover-bg: $error,
        active-bg: $error,
    ),

    outline: (bg: transparent,
        color: $teal-300,
        border: 1px solid $teal-300,
        hover-bg: rgba($teal-300, 0.6),
        hover-color: #fff,
    ),

    outline-gray: (bg: transparent,
        color: #000,
        border: 1px solid $gray-400,
        hover-bg: $teal-300,
    ),

    ghost: (bg: transparent,
        color: $teal-300,
        hover-bg: transparent,
    ),

    link: (bg: transparent,
        color: $teal-300,
        text-decoration: underline,
    )
);

$button-sizes: (
    xs: (height: 40px, padding: 0.5rem),
    sm: (height: 44px, padding: 0.625rem),
    md: (height: 48px, padding: 0.75rem),
    lg: (height: 56px, padding: 1rem),
    xl: (height: 60px, padding: 1.125rem),
    icon: (size: 36px),
);


@mixin button-variant($styles) {
    background: map-get($styles, bg);
    color: map-get($styles, color);

    @if map-has-key($styles, border) {
        border: map-get($styles, border);
    }

    @else {
        border: none;
    }

    &:hover {
        background: map-get($styles, hover-bg);
        color: map-get($styles, hover-color)
    }

    &:active {
        background: map-get($styles, active-bg);
    }

    &:disabled {
        background: map-get($styles, disabled-bg);
        opacity: 0.5;
        cursor: not-allowed;
    }
}

@mixin button-size($styles) {
    @if map-has-key($styles, size) {
        width: map-get($styles, size);
        height: map-get($styles, size);
        padding: 0;
    }

    @else {
        min-height: map-get($styles, height);
        padding: map-get($styles, padding);
    }
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;

    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        pointer-events: none;
    }
}


@each $name, $styles in $button-variants {
    .button--#{$name} {
        @include button-variant($styles);
    }
}

@each $name, $styles in $button-sizes {
    .button--#{$name} {
        @include button-size($styles);
    }
}