@use '../../globals.scss' as *;

.dialogWrapper {
    position: relative;
    z-index: 50;
}

.dialogOverlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    width: 100vw;
    backdrop-filter: blur(2px);
    background-color: #00000055;
}

.dialogContainer {
    position: fixed;
    inset: 0;
    z-index: 50;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
}

.dialogPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 30rem;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 2rem;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    transition: all 0.3s ease-out;

    &[data-closed] {
        transform: scale(0.95);
        opacity: 0;
    }
}

.dialogTitle {
    font-size: 16px;
    font-weight: 600;
    color: $blue-200;
    font-family: $font-work-sans;
}

.dialogText {
    font-size: 14px;
}

.buttonGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: $font-work-sans;

    .buttons {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        button {
            font-size: 16px;
        }
    }
}