@use '../../globals.scss' as *;

.header {
    height: 100px;
    background-color: #ffffff;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 0px 20px 0px #0000000a;
    font-family: 'Work Sans';
    position: sticky;
    z-index: 1000;
    width: 100%;
    &__mobile-nav, &__ellipse{
        display: none;
    }
    &__actions {
        ul {
            display: flex;
            align-items: center;
            gap: 2rem;  
            list-style: none;
        }
        a {
            display: flex;
            align-items: center;
            font-family: 'Roboto';
            font-size: 16px;
            color: $blue-200;
        }
        
    }

    &__profile {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        padding: 0 1rem;
        font-size: 16px;

        button {
                padding: 0;
                background: transparent;
                outline: none;
                border: none;
                cursor: pointer;
            }
    }

    &__avatar {
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #e5e7eb;
        img{
            border-radius: 50%;
        }
    }

    &__username {
        color: $blue-200;
        font-weight: 500;
    }

    &__search_bar {
        display: flex;
        justify-content: center;
        height: 40px;
        width: 400px;

        .input {
            height: 100%;
            border-radius: 8px;
            border-width: 1px ;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0 ;
            border-right: none;
        }
        .button {
            width: 15%;
            height: 100%;
            border-radius: 8px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

@media (max-width: 1024px) {
    .header {

        &__search_bar {
            width: 250px;
        }
    }
}

@media (max-width: 768px) {
    .header {
    height: 80px;
    &__actions {
        display: none;
    }
    &__search_bar {
        display: none;
    }
    &__mobile-search_bar {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 90;
        width: 70%;
        height: 50px;
        box-shadow: 3px 0px 20px 0px #0000000a;
    }

    &__mobile-nav{
        display: flex;
        align-items: center;
        gap: .5rem;
        .menu-button{
                border: none;
                background: transparent;
                outline: none;
            }
        .search{
            width: 38px;
            height: 38px;
            border-radius: 4px;
        }
    }
    &__ellipse{
        display: block;
        border: none;
        background: transparent;
        outline: none;
        color: $blue-200;
    }
    &__mobile-actions{
        display: flex;
        position: absolute;
        right: 4%;
        top: 90;
        width: fit-content;
        padding: 2rem;
        border-radius: 4px;
        min-height: 50px;
        background-color: #fff;
        box-shadow: 3px 0px 20px 0px #0000000f;
        ul{
            flex-wrap: wrap;
        }
    }
}
}