@use '../../globals.scss' as *;

.limit-setter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 14px;
    color: $blue-300;
}

.limit-setter__select {
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: inherit;
    background-color: rgba($blue-200, 0.1) ;
    cursor: pointer;

    &:focus {
        outline: none;
        border-color: #9ca3af;
        font-weight: 500;
    }
}