@use '../../globals.scss' as *;

.sidebar {
    width: 283px;
    height: 100%;
    padding-top: 2rem;
    background-color: #ffffff;
    overflow: auto;
    scrollbar-width: none;
    font-family: 'Work Sans';

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        button {
            background: transparent;
            outline: none;
            border: none;
            text-align: start;
            padding: 0 1.5rem;
        }
    }
    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    p {
        padding: .25rem 1.5rem;
        margin: 0;
    }

    &__item {
        text-decoration: none;
        padding: 0 1.5rem;
        color: rgba($blue-200, 0.6);
        font-weight: 400;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        gap: .7rem;
        font-size: 16px;
        cursor: pointer;
        height: 40px;
        border-left: 3px solid transparent;
        transition: border 0.2s ease, color 0.2s ease;
        svg {
                width: 16px;
                height: 16px;
                filter: opacity(0.6);
            }
        &:hover {
            background-color: rgba($teal-300, 6%);
            color: $blue-200;
            border-left: 3px solid $teal-300;
            svg{
                filter: opacity(1);
            }
        }

        &.active {
            background-color: rgba($teal-300, 6%);
                color: $blue-200;
                border-left: 3px solid $teal-300;
            
                svg {
                    filter: opacity(1);
                }
        }
    }
    &__v {
        padding: 0 1.5rem;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 12px;
        color: $blue-200;
        padding-bottom: 1rem;
    }
    .switch-org-btn {
            color:$blue-200;
            display: flex;
            align-items: center;
            gap: .7rem;
            padding-bottom: .5rem;
            font-size: 16px;
            font-family: 'Work Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
            &:hover {
                filter: opacity(.7);
            }
        }
    
    .sidebar-section-title {
        color: $blue-300;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
    }
    .logout-btn {
        color: $blue-200;
            display: flex;
            align-items: center;
            gap: .7rem;
            padding-bottom: .5rem;
            font-size: 16px;
            font-family: 'Work Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
            margin-top: 2.5rem;
            border-top: 1px solid rgba($blue-300, 0.2);
            padding-top: 1.2rem;
        
            &:hover {
                filter: opacity(.7);
            }
        svg {
            color: $red-500;
            width: 16px;
            height: 16px;
        }
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 220px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -100%;
        top: 0;
        transition: left 0.3s ease;

        &.open {
            left: 0;
        }
    }
}