@use '../../globals.scss' as *;
.info-block{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: 'Work Sans';
    h4{
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: $blue-300
    }
    h2{
        font-family: Work Sans;
            font-weight: 500;
            font-size: 16px;
            color: $blue-300
    }
}