@use '../../globals.scss' as *;
.user-details {
    padding: 2rem;
    &__link{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: $blue-300;
    }
    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 1.2rem;
        h2{
            font-family: 'Work Sans';
            font-weight: 500;
            font-size: 24px;
            color: $blue-200;
            padding: 2rem 0;
            text-transform: capitalize;
        }
        .buttons-container{
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }
        button {
            width: 170px;
            height: 40px;
            border-radius: 8px;
            border-width: 1px;
            font-family: 'Work Sans';
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 10%;
            text-align: center;
            text-transform: uppercase;
            background: transparent;
            cursor: pointer;
            &:active {
                    transform: scale(0.98);
                }
        }
        .blacklist{
            border: 1px solid $red-500;
            color: $red-500;
            &:hover{
                background: $red-500;
                color: #fff ;
            }
        }
        .activate{
            border: 1px solid $teal-300;
            color: $teal-300;
            &:hover {
                    background: $teal-300;
                    color: #fff ;
                }
        }
    }
    &__profile{
        width: 100%;
        min-height: 210px;
        border-radius: 4px;
        border: 1px solid rgba($blue-200, 0.06);
        background: #FFFFFF;
        box-shadow: 3px 5px 20px 0px #0000000A;
        display: flex;
        padding: 0 1.5rem;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1.7rem;

        .profile-details{
            display: flex;
            align-items: center;
            gap: 2rem;
            padding: 1.5rem 0;

            .user-info{
                display: flex;
                align-items: center;
                gap: 1.5rem;
            }
            .avatar{
                position: relative;
                width: 100px;
                height: 100px;
                img{
                    border-radius: 50%;
                }
            }
        }

        .name{
            display: flex;
            flex-direction: column;
            gap: 3px;
            font-family: Work Sans;
            h3{
                font-weight: 500;
                font-size: 22px;
                color: $blue-200;
            }
            p{
                
                font-weight: 400;
                font-size: 14px;
            }
        }
        .seperator{
            border-left: 1px solid rgba($blue-300, 0.2);
            height: 80px;
        }
        .user-tier{
            display: flex;
            flex-direction: column;
            gap: 5px;
            h4{
                font-family: 'Work Sans';
                font-weight: 500;
                font-size: 14px;
                color: $blue-300;
            }
            .star{
                display: flex;
                gap: 3px;
            }
        }
        .acc-details{
            display: flex;
            flex-direction: column;
            gap: 3px;
            h2, h4{
                font-family: Work Sans;
                color: $blue-200;
            }
            h2{
                font-weight: 500;
                font-size: 22px;
            }
            h4{
                font-weight: 400;
                font-size: 12px;
            }
        }
        .tabs-list{
            display: flex;
            justify-content: space-between;
            width: 100%;
            overflow: scroll;
            button{
                padding: 0;
                border: none;
                outline: none;
                background: transparent;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                color: rgba( #000000, 0.8);
                padding: .5rem 1.5rem;
                border-bottom: 2px solid #fff;
                text-transform: capitalize;


                &[data-hover] {
                        border-bottom: 2px solid $teal-300;
                    }
                &[data-selected] {
                        border-bottom: 2px solid $teal-300;
                        color: $teal-300;
                        font-family: 'Work Sans';
                    }
            }
        }
}
    &__panels {
        border: 1px solid rgba($blue-200, 0.06) ;
        background-color: #fff;
        box-shadow: 3px 5px 20px 0px #0000000A;
        border-radius: 4px;
        padding: 1.5rem;

        .seperator{
            margin: 2rem 0;
            border-top: 1px solid rgba($blue-300, 0.2);
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {

.user-details {
        &__profile {
            .profile-details {
                gap: .5rem;
                padding: 1rem 0;
                .user-info {
                    gap: 1rem;
                }
                .avatar {
                    position: relative;
                    width: 60px;
                    height: 60px;
                }
            }
            .name {
                h3 {
                    font-size: 16px;
                }
                p {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
            .user-tier {
                h4 {
                    font-size: 12px;
                }
                .star {
                    display: flex;
                    gap: 3px;
                }
            }
            .acc-details {
                h2 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 10px;
                }
            }
            .tabs-list {
                button {
                    font-size: 12px;
                    padding: .5rem 1rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    
        .user-details {
    
            &__profile {
                .profile-details {
                    gap: 1rem; 
                    flex-direction: column;
                    align-items: flex-start;
                    .user-info {
                        gap: 1rem;
                    } 
                    .avatar {
                        width: 60px;
                        height: 60px;
                    }
                }
                .name {
                    h3 {
                        font-size: 16px;
                    }
    
                    p {
                        font-size: 12px;
                    }
                }
                .seperator {
                border-left: none;
                    border-top: 1px solid rgba($blue-300, 0.2);
                    width: 100%;
                    height: 0;
                    margin: 1rem 0;
                }
                .user-tier {
                    h4 {
                        font-size: 12px;
                    }
                }
    
                .acc-details {
                    h2 {
                        font-size: 18px;
                    }
                }
    
                .tabs-list {
                    button {
                        font-size: 12px;
                        padding: .5rem 1rem;
                    }
                }
            }
        }
}
