@use '../../globals.scss' as *;

.users{
    padding: 1rem 2rem;
    h2{
        color: $blue-200;
        font-family: Work Sans;
        font-weight: 500;
        font-size: 24px;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}
.overview {
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width: 768px) {
    .users {
            padding: .5rem 1rem;
    }
}